/* purgecss start ignore */
span.switcher:hover {
    cursor: pointer;
}

.switcher {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: underline;
}

.rainbow {
    background: linear-gradient(to right, #11998E 0%, #38ef7d 100%);
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Shamelessly stolen from a random codepen, but I don't think they would care. */
@keyframes rainbow { 
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(-360deg); }
}

:root {
    --family-primary: "Roboto Mono", monospace !important;
    --family-secondary: var(--family-primary) !important;
}

.subheading {
    font-size: 1.2rem !important;
}

#app {
    scroll-behavior: smooth;
    scrollbar-color: #4c566a #434c5e;
    scrollbar-width: 15px;
}

#nav > header > div.mr-6 > h3 > a > span > a { /* Chrome gave me this selector I hope it works */
    border: none !important;
}
/* dark theme */
.dark {
    background-color: #2e3440;
    color: #d8dee9;
}
.dark .about, .dark .home, .dark .subheading {
    color: #d8dee9;
}
.dark #nav a, .dark .heading {
    color: #e5e9f0;
}
.dark #nav a.router-link-exact-active, .dark #codestats {
    border: 1.5px solid #eceff4;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #434c5e;
}
::-webkit-scrollbar-thumb {
    background-color: #4c566a;
}

/* light theme */
.light {
    background-color: #eceff4;
    color: #2e3440;
}
.light #nav a.router-link-exact-active, .light #codestats {
    border: 1.5px solid #434c5e;
}
/* purgecss end ignore */