/* purgecss start ignore */
:root {
    /* dark vars */
    --dark-bg: #2e3440;
    --dark-heading: #e5e9f0;
    --dark-text: #d8dee9;
    --dark-scrollbar-thumb: #4c566a;
    --dark-scrollbar-track: #434c5e;
    --dark-border: #eceff4;
    /* light vars */
    --light-bg: #eceff4;
    --light-text: #2e3440;
    --light-scrollbar-thumb: #e5e9f0;
    --light-scrollbar-track: #d8dee9;
    --light-border: #434c5e;
}

span.switcher:hover {
    cursor: pointer;
}

.switcher {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: underline;
}

.rainbow {
    background: linear-gradient(to right, #11998E 0%, #38ef7d 100%);
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Shamelessly stolen from a random codepen, but I don't think they would care. */
@keyframes rainbow { 
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(-360deg); }
}

:root {
    --family-primary: "Roboto Mono", monospace !important;
    --family-secondary: var(--family-primary) !important;
}

.subheading {
    font-size: 1.2rem !important;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

#nav > header > div.mr-6 > h3 > a > span > a { /* Chrome gave me this selector I hope it works */
    border: none !important;
}
/* dark theme */
.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    scrollbar-color: var(--dark-scrollbar-thumb) var(--dark-scrollbar-track);
}
/* TODO: are these color statements really necessary? */
.dark .about, .dark .home, .dark .subheading {
    color: var(--dark-text);
}
.dark #nav a, .dark .heading {
    color: var(--dark-heading);
}
.dark #nav a.router-link-exact-active, .dark #codestats {
    border: 1.5px solid var(--dark-border);
}
::-webkit-scrollbar {
    width: 15px;
}
.dark::-webkit-scrollbar-track {
    background-color: var(--dark-scrollbar-track);
}
.dark::-webkit-scrollbar-thumb {
    background-color: var(--dark-scrollbar-thumb);
}

/* light theme */
.light {
    background-color: var(--light-bg);
    color: var(--light-text);
    scrollbar-color: var(--light-scrollbar-thumb) var(--light-scrollbar-track);
}
.light #nav a.router-link-exact-active, .light #codestats {
    border: 1.5px solid var(--light-border);
}
.light::-webkit-scrollbar-track {
    background-color: var(--light-scrollbar-track);
}
.light::-webkit-scrollbar-thumb {
    background-color: var(--light-scrollbar-thumb);
}
/* purgecss end ignore */